
.main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: grey;
    }
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .item{
        margin: 10px;
    }
}