<div class="main">
    <div class="header">
        <h1>{{shopName}}</h1>
    </div>
    <button (click)="filter()" style="width: 60px;">Filter</button>
    <div class="sort" *ngIf="fltr == true" >
        <label for="type">Sort by: </label>
        <select [(ngModel)]="type" name="Select type"> 
            <option *ngFor="let n of types" [attr.value]="n">{{n}}</option>
          </select>
          <select [(ngModel)]="order" name="Select type"> 
            <option *ngFor="let n of orders" [attr.value]="n">{{n}}</option>
          </select>
        <!-- dropdown -->
        <button (click)="sort()">Sort</button>
    </div>
    <div class="content">
        <div class="item" *ngFor="let item of items">
            <app-product [item]="item"></app-product>
        </div>
    </div>
</div>