<div class="mainLoad">
    <div class="header">
        <h1>{{shopName}}</h1>
    </div>
    <div class="sort">
        <label for="type">Sort by: </label>
        <select [(ngModel)]="type" name="Select type"> 
            <option *ngFor="let n of types" [attr.value]="n">{{n}}</option>
          </select>
          <select [(ngModel)]="order" name="Select type"> 
            <option *ngFor="let n of orders" [attr.value]="n">{{n}}</option>
          </select>
        <button (click)="sort()">Sort</button>
        <button (click)="openCart()">Cart</button>
    </div>
    <div class="content">
        <div *ngIf="loading$ | async; else display">
            <h1>Loading...</h1>
        </div>
        <ng-template #display>
            <div class="item" *ngFor="let item of items$ | async">
                <app-product [item]="item"></app-product>
            </div>
        </ng-template>
    </div>
</div>
<div id="cart" class="cart">
    <h1>Cart</h1>
    <table>
        <th>Product ID</th>
        <th>Quantity</th>
        <th>Price</th>
        <!-- <tr *ngFor="let item of cart.getCart()"> -->
        <!-- <tr *ngFor="let item of cartItems$ | async"> -->
        <tr *ngFor="let item of hearxQuery2.selectAll() | async">
            <td>{{item.product_id}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
    <button (click)="closeCart()">Close</button>
</div>