<div class="mainLoad">
    <div class="header">
        <h1>{{shopName}}</h1>
    </div>
    <div class="sort">
        <label for="type" class="lbl">Sort by: </label>
        <div class="box">
            <select [(ngModel)]="type" id="type1" name="Select type">
                <option *ngFor="let n of types" [attr.value]="n">{{n}}</option>
            </select>
        </div>
        <div class="box">
            <select [(ngModel)]="order" id="order" name="Select Order">
                <option *ngFor="let n of orders" [attr.value]="n">{{n}}</option>
            </select>
        </div>
        <button (click)="sort()" class="mainButton">Sort</button>
        <button *ngIf="open == false" (click)="openCart()" class="mainButton">Open Cart</button>
        <button *ngIf="open == true" (click)="closeCart()" class="mainButton">Close Cart</button>
    </div>
    <div class="content">
        <div *ngIf="loading$ | async; else display">
            <h1>Loading...</h1>
        </div>
        <ng-template #display>
            <div class="item" *ngFor="let item of items$ | async">
                <app-product [item]="item"></app-product>
            </div>
        </ng-template>
    </div>
</div>
<div id="cart" class="cart">
    <app-cart></app-cart>
</div>