<div class="product">
    <div class="img">
        <img src="{{item.images}}">
    </div>
    <div class="productName">
        <label>{{item.name}}</label>
    </div>
    <div class="productPrice"><strong>R{{item.price}}</strong></div>
    <div class="productButton">
        <div *ngIf="select != true">
            <button class="mainButton" (click)="addToCart(item)">{{buttonText}}</button>
        </div>
        <div *ngIf="select == true">
            <button class="subButton" *ngIf="select == true" (click)="add(item)">+</button>
            <button class="subButton" *ngIf="select == true" (click)="clear()">{{quantity}}</button>
            <button class="subButton" *ngIf="select == true" (click)="min(item)">-</button>
        </div>
    </div>
</div>
