.productName{
    max-width: 200px;
    min-height: 40px;
}
.productPrice{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productButton{
    display: flex;
    align-items: center;
    justify-content: center;
}